*{
    margin:0px;
    padding: 0px;
}
#container{
    background-color:rgb(111, 82, 82);
    color:white;
    display: flex;
    /* position: fixed; */
    width:100%;
    height: 7vh;
    justify-content: center;
    align-items:center;
}
#logo{
    margin-left: 100px;
    flex:1;
}
#nav{
    flex:3;
}
#mail{
    flex:1;
}
a{
    text-decoration: none;
    color:white;
}
#nav{
    display: flex;
    justify-content: center;
    align-items:center;
}
button{
    border:none;
    background-color: rgb(111, 82, 82);
    margin:10px 10px;
    color:white;
    cursor: pointer;;
}
button:hover{
    transition-duration: .3s;
    border-bottom:3px red solid;
    color:rgb(237, 204, 162);
}   
